#main-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body {
background-color: rgb(83, 21, 5);
}

h1 {
    color: rgb(25, 201, 34);
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid black;
    width: 350px;
    height: 400px;
    padding-bottom: 20px;
    background-color: rgb(85, 128, 168);
}

#display {
    margin: 20px;
    border: 4px solid black;
    padding: 20px;
    background-color: rgb(197, 207, 161);
    width: 250px;
    height: 50px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 25px;
    
}

#button-container {
    padding-top: 20px;
    
}


button {
    font-weight: bolder;
    font-size: 30px;
}

button:hover {
    background-color: rgb(169, 184, 38);
}

#clearBtn:hover {
    background-color: rgb(169, 184, 38);
}

#equalBtn:hover {
    background-color: rgb(169, 184, 38);
}


.nmbrBtn {
    width: 58px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(206, 134, 63);
}



.opBtn {
    width: 58px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(145, 145, 153);
}

.clicked {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(169, 184, 38);
}

#equalBtn {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(145, 145, 153);
}

#clearBtn {
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(228, 70, 70, 0.993);
}



button:focus {outline:0;}